
/*  geral  */

*{
    padding: 0;
    margin: 0;  
}
body,html{
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}
body{
    background-image: url(assets/corrida-img-2.jpg);
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;  
}

/* main */

main{
    
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    
}
.container{
    
    background:#708090;
    width: 350px;
    height: 400px;
    margin:0 3% 0 0;
    margin-top: 7% ;
    border-radius: 4%;
    box-shadow: 1px 1px 13px 3px;
    opacity: 0.8;
    
}

/* -----conteudos-----*/

.apresentacao-conteudo{
    width: 60vw;
    color: #32CD32;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15%;
}
.apresentacao-conteudo h1{
    margin-bottom: 7%;
    font-size: 3.5em;
}
.apresentacao-conteudo p{
    text-indent: 5%;
    text-align: center;
    background: rgba(56,255,0,0.2) ;
    font-size: 1.5em;
    font-weight: 900;
    color: #fff;
    border-radius: 10px;
    

}

/* table */ 

table{
    background: #fff;
    width: 100%;
    height: 100%;
}
td{
    text-align: center;
    font-size: 1.2em;
}

.td-input{
    width: 180px;
}
span{
    opacity: 0.3;

}

/*-----inputs-----*/

input[type="text"]{
    width: 98%;
    height: 75%;
    border: 1px solid #32CD32;
    
    border-radius: 18px;
    
}
input[type="button"]{
    width: 98%;
    height: 81%;
    font-size: 1.2em;
    border-radius: 18px;
    border: 1px solid #32CD32;
    cursor: pointer;
}

/*-------------------------------------*/
/*-------------------------------------*/


/*settings responsive*/
@media (max-width: 1260px){
    body{
        background-image: url(assets/corrida-img-1.jpg);
    }
}
@media (max-width:750px){
    body,html{
        background-position: center top;
    }
    .apresentacao-conteudo h1{
        font-size: 2em;
    }
    .apresentacao-conteudo p{
        font-size: 1.2em;
    }
    .container{
        width: 400px;
    }
}


@media (max-width:600px){
    body,html{
        
        display: flex;
        align-items: center;
        justify-content: center;   
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
        width: 300px;
        
    }
    .container{
        width: 300px;
    }
    /*apresentação conteudo*/
    .apresentacao-conteudo h1{
        font-size: 1.5em;

    }
    .apresentacao-conteudo p{
        font-size: .8em;
    }

   
}


@media (max-width:400px){
    main{
        padding-bottom: 10%;
    }
    .container{
        height:300px ;
        width: 200px;
    }
    .apresentacao-conteudo h1{
        font-size: 1.2em;
    }
    .apresentacao-conteudo p{
        font-size: .8em;
    }
}



